
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/magazijnRobotHMI.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/libraries
.idea/workspace.xml
.idea/wcs.xml
.out
.HMI/env.json
.out/production/magazijnRobotHMI/
HMI/env.json
HMI/src/env.json
